<ion-header>
  <ion-navbar color="azul-piscina">
    <ion-title>
      Jogo da Memória
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list radio-group>
      <ion-list-header style="font-size: 20px">
        Selecione a quantidade de cartas
      </ion-list-header>
        <button ion-item *ngFor="let option of cardsQuantity" (click)="setCardQuantity(option)">
          {{ option }}
          <ion-icon name="md-arrow-dropright" item-right></ion-icon>
        </button>  
    </ion-list>

    <hr>
    <ion-card class="dashed-border-purple">
      <ion-card-content text-center>
        <span style="color: #757575; font-size: 20px">Jogue com suas fotos!</span>
        <button  color="azul-piscina" ion-button block icon-left (click)="getPhotos()">
          <ion-icon name="camera"></ion-icon>
          Escolher fotos
        </button>
      </ion-card-content>    
    </ion-card>

    <hr>
    <ion-card class="dashed-border-purple">
      <ion-card-content text-center>
        <span style="color: #757575; font-size: 20px">FOTO:</span>
        <img [src]="photo.nativeURL" style="width: 100%" *ngIf="photo">
      </ion-card-content>    
    </ion-card>



</ion-content>

  
