page-cards {
    
    .myCard {
        background-color: #52527a;
        height: 90px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }

    .cardBordRadius {
        border-radius: 5px;
    }

    .pickedCard {
        background-color: #ff2;
    }

    .grey-bg {
        background-color: #e0e0d8;
    }

}
